{
  "tabWidth": 1,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "printWidth": 80,
  "arrowParens": "always",
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "proseWrap": "always",
  "quoteProps": "consistent",
  "htmlWhitespaceSensitivity": "strict"
}
